INST eth/phy/*/gtxe2_i LOC=GTXE2_CHANNEL_X0Y15;

NET PHY_RESET_OUT_N	LOC=Y13		| IOSTANDARD=LVCMOS15;

NET LED_OUT<0>		LOC=AA12	| IOSTANDARD=LVCMOS15;
NET LED_OUT<1>		LOC=AB12	| IOSTANDARD=LVCMOS15;
NET LED_OUT<2>		LOC=AA8		| IOSTANDARD=LVCMOS15;
NET LED_OUT<3>		LOC=AB8		| IOSTANDARD=LVCMOS15;
NET LED_OUT<4>		LOC=AB9		| IOSTANDARD=LVCMOS15;
NET LED_OUT<5>		LOC=AC9		| IOSTANDARD=LVCMOS15;
NET LED_OUT<6>		LOC=Y11		| IOSTANDARD=LVCMOS15;
NET LED_OUT<7>		LOC=Y10		| IOSTANDARD=LVCMOS15;
NET LED_OUT<8>		LOC=AA11	| IOSTANDARD=LVCMOS15;
NET LED_OUT<9>		LOC=AA10	| IOSTANDARD=LVCMOS15;
NET LED_OUT<10>		LOC=AA13	| IOSTANDARD=LVCMOS15;
NET LED_OUT<11>		LOC=AB13	| IOSTANDARD=LVCMOS15;
NET LED_OUT<12>		LOC=AB10	| IOSTANDARD=LVCMOS15;
NET LED_OUT<13>		LOC=AC10	| IOSTANDARD=LVCMOS15;
NET LED_OUT<14>		LOC=AD8		| IOSTANDARD=LVCMOS15;
NET LED_OUT<15>		LOC=AE8		| IOSTANDARD=LVCMOS15;

#################################################################################

NET CTRLBUS_U1_OUT_P<0>	LOC=AA18		| IOSTANDARD=LVDS	| DIFF_TERM=FALSE;		#ctrlbus1		bank32
NET CTRLBUS_U1_OUT_N<0>	LOC=AB18		| IOSTANDARD=LVDS	| DIFF_TERM=FALSE;

NET CTRLBUS_U1_OUT_P<1>	LOC=Y19		| IOSTANDARD=LVDS	| DIFF_TERM=FALSE;			#ctrlbus3		bank32
NET CTRLBUS_U1_OUT_N<1>	LOC=Y18		| IOSTANDARD=LVDS	| DIFF_TERM=FALSE;

NET CTRLBUS_U1_OUT_P<2>	LOC=AD18		| IOSTANDARD=LVDS	| DIFF_TERM=FALSE;		#ctrlbus4		bank32
NET CTRLBUS_U1_OUT_N<2>	LOC=AE18		| IOSTANDARD=LVDS	| DIFF_TERM=FALSE;

NET CTRLBUS_U1_OUT_P<3>	LOC=AD19		| IOSTANDARD=LVDS	| DIFF_TERM=FALSE;		#ctrlbus6		bank32
NET CTRLBUS_U1_OUT_N<3>	LOC=AE19		| IOSTANDARD=LVDS	| DIFF_TERM=FALSE;

NET CTRLBUS_U1_OUT_P<4>	LOC=AD17		| IOSTANDARD=LVDS	| DIFF_TERM=FALSE;		#ctrlbus8		bank32
NET CTRLBUS_U1_OUT_N<4>	LOC=AD16		| IOSTANDARD=LVDS	| DIFF_TERM=FALSE;

#################################################################################

NET CTRLBUS_U1_IN_P<0>	LOC=AG19		| IOSTANDARD=LVDS	| DIFF_TERM=TRUE;			#ctrlbus10		bank32
NET CTRLBUS_U1_IN_N<0>	LOC=AH19		| IOSTANDARD=LVDS	| DIFF_TERM=TRUE;

NET CTRLBUS_U1_IN_P<1>	LOC=AF18		| IOSTANDARD=LVDS	| DIFF_TERM=TRUE;			#ctrlbus11		bank32
NET CTRLBUS_U1_IN_N<1>	LOC=AG18		| IOSTANDARD=LVDS	| DIFF_TERM=TRUE;

NET CTRLBUS_U1_IN_P<2>	LOC=AJ19			| IOSTANDARD=LVDS	| DIFF_TERM=TRUE;			#ctrlbus12		bank32
NET CTRLBUS_U1_IN_N<2>	LOC=AK19		| IOSTANDARD=LVDS	| DIFF_TERM=TRUE;

#################################################################################

NET CTRLBUS_U2_OUT_P<0>	LOC=F21		| IOSTANDARD=LVDS_25	| DIFF_TERM=FALSE;		#ctrlbus21		bank17
NET CTRLBUS_U2_OUT_N<0>	LOC=E21		| IOSTANDARD=LVDS_25	| DIFF_TERM=FALSE;

NET CTRLBUS_U2_OUT_P<1>	LOC=G22		| IOSTANDARD=LVDS_25	| DIFF_TERM=FALSE;		#ctrlbus22		bank17
NET CTRLBUS_U2_OUT_N<1>	LOC=F22		| IOSTANDARD=LVDS_25	| DIFF_TERM=FALSE;

NET CTRLBUS_U2_OUT_P<2>	LOC=F20		| IOSTANDARD=LVDS_25	| DIFF_TERM=FALSE;		#ctrlbus23		bank17
NET CTRLBUS_U2_OUT_N<2>	LOC=E20		| IOSTANDARD=LVDS_25	| DIFF_TERM=FALSE;

NET CTRLBUS_U2_OUT_P<3>	LOC=E19		| IOSTANDARD=LVDS_25	| DIFF_TERM=FALSE;		#ctrlbus24		bank17
NET CTRLBUS_U2_OUT_N<3>	LOC=D19		| IOSTANDARD=LVDS_25	| DIFF_TERM=FALSE;

NET CTRLBUS_U2_OUT_P<4>	LOC=D16		| IOSTANDARD=LVDS_25	| DIFF_TERM=FALSE;		#ctrlbus25		bank17
NET CTRLBUS_U2_OUT_N<4>	LOC=C16		| IOSTANDARD=LVDS_25	| DIFF_TERM=FALSE;

#################################################################################

NET CTRLBUS_U2_IN_P<0>		LOC=G17		| IOSTANDARD=LVDS_25	| DIFF_TERM=TRUE;		#ctrlbus26		bank17
NET CTRLBUS_U2_IN_N<0>		LOC=F17		| IOSTANDARD=LVDS_25	| DIFF_TERM=TRUE;

NET CTRLBUS_U2_IN_P<1>		LOC=H21		| IOSTANDARD=LVDS_25	| DIFF_TERM=TRUE;		#ctrlbus40		bank17
NET CTRLBUS_U2_IN_N<1>		LOC=H22		| IOSTANDARD=LVDS_25	| DIFF_TERM=TRUE;

NET CTRLBUS_U2_IN_P<2>		LOC=G18		| IOSTANDARD=LVDS_25	| DIFF_TERM=TRUE;		#ctrlbus28		bank17
NET CTRLBUS_U2_IN_N<2>		LOC=F18		| IOSTANDARD=LVDS_25	| DIFF_TERM=TRUE;

#################################################################################

