NET "GCLK2_P" LOC = U27 ;
NET "GCLK2_N" LOC = U28 ;

NET "CTRLBUS_IN_P<0>" LOC = L12;
NET "CTRLBUS_IN_P<1>" LOC = AA18;
NET "CTRLBUS_IN_P<2>" LOC = K14;
NET "CTRLBUS_IN_P<3>" LOC = Y19;
NET "CTRLBUS_IN_P<4>" LOC = AD18;
NET "CTRLBUS_IN_P<5>" LOC = L16;
NET "CTRLBUS_IN_P<6>" LOC = AD19;
NET "CTRLBUS_IN_P<7>" LOC = L15;
NET "CTRLBUS_IN_P<8>" LOC = AD17;
NET "CTRLBUS_IN_P<9>" LOC = L17;
NET "CTRLBUS_IN_P<10>" LOC = AG19;
NET "CTRLBUS_IN_P<11>" LOC = AF18;
NET "CTRLBUS_IN_P<12>" LOC = AJ19;
NET "CTRLBUS_IN_P<13>" LOC = AH17;
NET "CTRLBUS_IN_P<14>" LOC = AJ18;
NET "CTRLBUS_IN_P<15>" LOC = AH16;
NET "CTRLBUS_IN_P<16>" LOC = AK16;
NET "CTRLBUS_IN_P<17>" LOC = AF15;
NET "CTRLBUS_IN_P<18>" LOC = K19;
NET "CTRLBUS_IN_P<19>" LOC = AE16;
#NET "CTRLBUS_IN_P<20>" LOC = AG15;
NET "CTRLBUS_OUT_P<0>" LOC = AG15;
NET "CTRLBUS_IN_P<20>" LOC = F21;
NET "CTRLBUS_IN_P<21>" LOC = G22;
NET "CTRLBUS_IN_P<22>" LOC = F20;
NET "CTRLBUS_IN_P<23>" LOC = E19;
NET "CTRLBUS_IN_P<24>" LOC = D16;
NET "CTRLBUS_IN_P<25>" LOC = G17;
NET "CTRLBUS_IN_P<26>" LOC = E23;
NET "CTRLBUS_IN_P<27>" LOC = G18;
NET "CTRLBUS_IN_P<28>" LOC = E24;
NET "CTRLBUS_IN_P<29>" LOC = F15;
NET "CTRLBUS_IN_P<30>" LOC = F25;
NET "CTRLBUS_IN_P<31>" LOC = F26;
NET "CTRLBUS_IN_P<32>" LOC = E14;
NET "CTRLBUS_IN_P<33>" LOC = G27;
NET "CTRLBUS_IN_P<34>" LOC = F12;
NET "CTRLBUS_IN_P<35>" LOC = D12;
NET "CTRLBUS_IN_P<36>" LOC = H26;
NET "CTRLBUS_IN_P<37>" LOC = G23;
NET "CTRLBUS_IN_P<38>" LOC = F11;
NET "CTRLBUS_IN_P<39>" LOC = H21;
#NET "CTRLBUS_IN_P<41>" LOC = H24;
NET "CTRLBUS_OUT_P<1>" LOC = H24;

NET "CTRLBUS_IN_N<0>" LOC = L13;
NET "CTRLBUS_IN_N<1>" LOC = AB18;
NET "CTRLBUS_IN_N<2>" LOC = J14;
NET "CTRLBUS_IN_N<3>" LOC = Y18;
NET "CTRLBUS_IN_N<4>" LOC = AE18;
NET "CTRLBUS_IN_N<5>" LOC = K16;
NET "CTRLBUS_IN_N<6>" LOC = AE19;
NET "CTRLBUS_IN_N<7>" LOC = K15;
NET "CTRLBUS_IN_N<8>" LOC = AD16;
NET "CTRLBUS_IN_N<9>" LOC = L18;
NET "CTRLBUS_IN_N<10>" LOC = AH19;
NET "CTRLBUS_IN_N<11>" LOC = AG18;
NET "CTRLBUS_IN_N<12>" LOC = AK19;
NET "CTRLBUS_IN_N<13>" LOC = AJ17;
NET "CTRLBUS_IN_N<14>" LOC = AK18;
NET "CTRLBUS_IN_N<15>" LOC = AJ16;
NET "CTRLBUS_IN_N<16>" LOC = AK15;
NET "CTRLBUS_IN_N<17>" LOC = AG14;
NET "CTRLBUS_IN_N<18>" LOC = K20;
NET "CTRLBUS_IN_N<19>" LOC = AF16;
#NET "CTRLBUS_IN_N<20>" LOC = AH15;
NET "CTRLBUS_OUT_N<0>" LOC = AH15;
NET "CTRLBUS_IN_N<20>" LOC = E21;
NET "CTRLBUS_IN_N<21>" LOC = F22;
NET "CTRLBUS_IN_N<22>" LOC = E20;
NET "CTRLBUS_IN_N<23>" LOC = D19;
NET "CTRLBUS_IN_N<24>" LOC = C16;
NET "CTRLBUS_IN_N<25>" LOC = F17;
NET "CTRLBUS_IN_N<26>" LOC = D23;
NET "CTRLBUS_IN_N<27>" LOC = F18;
NET "CTRLBUS_IN_N<28>" LOC = D24;
NET "CTRLBUS_IN_N<29>" LOC = E16;
NET "CTRLBUS_IN_N<30>" LOC = E25;
NET "CTRLBUS_IN_N<31>" LOC = E26;
NET "CTRLBUS_IN_N<32>" LOC = E15;
NET "CTRLBUS_IN_N<33>" LOC = F27;
NET "CTRLBUS_IN_N<34>" LOC = E13;
NET "CTRLBUS_IN_N<35>" LOC = D13;
NET "CTRLBUS_IN_N<36>" LOC = H27;
NET "CTRLBUS_IN_N<37>" LOC = G24;
NET "CTRLBUS_IN_N<38>" LOC = E11;
NET "CTRLBUS_IN_N<39>" LOC = H22;
#NET "CTRLBUS_IN_N<41>" LOC = H25;
NET "CTRLBUS_OUT_N<1>" LOC = H25;


#Created by Constraints Editor (xc7k325t-ffg900-2) - 2013/10/14
NET "GCLK2_P" TNM_NET = GCLK2_P;
TIMESPEC TS_GCLK2_P = PERIOD "GCLK2_P" 40 MHz HIGH 50%;
