NET "GCLK2_P" LOC = k27;
NET "GCLK2_N" LOC = j27;

NET "CTRLBUS_P<0>" LOC = BD29 ;
NET "CTRLBUS_P<1>" LOC = BB30 ;
NET "CTRLBUS_P<2>" LOC = BC28 ;
NET "CTRLBUS_P<3>" LOC = BA29 ;
NET "CTRLBUS_P<4>" LOC = AW29 ;
NET "CTRLBUS_P<5>" LOC = AW27 ;
NET "CTRLBUS_P<6>" LOC = AY31 ;
NET "CTRLBUS_P<7>" LOC = AY28 ;
NET "CTRLBUS_P<8>" LOC = AW30 ;
NET "CTRLBUS_P<9>" LOC = AV27 ;
NET "CTRLBUS_P<10>" LOC = AU30;
#NET "CTRLBUS_P_IN" LOC = AU28;
NET "CTRLBUS_P<11>" LOC = AU28;
NET "CTRLBUS_P<12>" LOC = AT28;
NET "CTRLBUS_P<13>" LOC = AP29;
NET "CTRLBUS_P<14>" LOC = AR28;
NET "CTRLBUS_P<15>" LOC = AN28;
NET "CTRLBUS_P<16>" LOC = AM30;
NET "CTRLBUS_P<17>" LOC = AK27;
NET "CTRLBUS_P<18>" LOC = AM27;
NET "CTRLBUS_P<19>" LOC = AJ29;
NET "CTRLBUS_P_IN" LOC = AL28;



NET "CTRLBUS_N<0>"  LOC = BD30; 
NET "CTRLBUS_N<1>"  LOC = BC30; 
NET "CTRLBUS_N<2>"  LOC = BC29; 
NET "CTRLBUS_N<3>"  LOC = BA30; 
NET "CTRLBUS_N<4>"  LOC = AY29; 
NET "CTRLBUS_N<5>"  LOC = AY27; 
NET "CTRLBUS_N<6>"  LOC = BA31; 
NET "CTRLBUS_N<7>"  LOC = BA28; 
NET "CTRLBUS_N<8>"  LOC = AW31; 
NET "CTRLBUS_N<9>"  LOC = AV28; 
NET "CTRLBUS_N<10>" LOC = AV30;
#NET "CTRLBUS_N_IN" LOC = AV29;
NET "CTRLBUS_N<11>" LOC = AV29;
NET "CTRLBUS_N<12>"  LOC = AT29;
NET "CTRLBUS_N<13>"  LOC = AP30;
NET "CTRLBUS_N<14>"  LOC = AR29;
NET "CTRLBUS_N<15>"  LOC = AN29;
NET "CTRLBUS_N<16>"  LOC = AN30;
NET "CTRLBUS_N<17>"  LOC = AK28;
NET "CTRLBUS_N<18>"  LOC = AM28;
NET "CTRLBUS_N<19>"  LOC = AK29;
NET "CTRLBUS_N_IN"  LOC = AL29;



#Created by Constraints Editor (xc7vx485t-ffg1927-2) - 2013/10/14
NET "GCLK2_P" TNM_NET = GCLK2_P;
TIMESPEC TS_GCLK2_P = PERIOD "GCLK2_P" 40 MHz HIGH 50%;
