NET "GCK2_IN_N" LOC = J27;
NET "GCK2_IN_N" IOSTANDARD = LVDS;
NET "GCK2_IN_P" LOC = K27;
NET "GCK2_IN_P" IOSTANDARD = LVDS;

NET "GCK2_IN_P" TNM_NET = "global_clock";
TIMESPEC TS_global_clock = PERIOD "global_clock" 24.95 ns;

#U2#############################################################################################
# IPBUS LVDS PAIRS:
#line 21
NET "CTRLIPBUS_P_IN<0>"  IOSTANDARD = LVDS;
NET "CTRLIPBUS_P_IN<0>"  LOC=BD29;
NET "CTRLIPBUS_N_IN<0>"  LOC=BD30;
NET "CTRLIPBUS_N_IN<0>"  IOSTANDARD = LVDS;
#line 22
NET "CTRLIPBUS_P_IN<1>"  IOSTANDARD = LVDS;
NET "CTRLIPBUS_P_IN<1>"  LOC=BB30;
NET "CTRLIPBUS_N_IN<1>"  LOC=BC30;
NET "CTRLIPBUS_N_IN<1>"  IOSTANDARD = LVDS;
#line 23
NET "CTRLIPBUS_P_IN<2>"  IOSTANDARD = LVDS;
NET "CTRLIPBUS_P_IN<2>"  LOC=BC28;
NET "CTRLIPBUS_N_IN<2>"  LOC=BC29;
NET "CTRLIPBUS_N_IN<2>"  IOSTANDARD = LVDS;
#line 24
NET "CTRLIPBUS_P_IN<3>"  IOSTANDARD = LVDS;
NET "CTRLIPBUS_P_IN<3>"  LOC=BA29;
NET "CTRLIPBUS_N_IN<3>"  LOC=BA30;
NET "CTRLIPBUS_N_IN<3>"  IOSTANDARD = LVDS;
#line 25
NET "CTRLIPBUS_P_IN<4>"  IOSTANDARD = LVDS;
NET "CTRLIPBUS_P_IN<4>"  LOC=AW29;
NET "CTRLIPBUS_N_IN<4>"  LOC=AY29;
NET "CTRLIPBUS_N_IN<4>"  IOSTANDARD = LVDS;
#line 26
NET "CTRLIPBUS_P_OUT<0>"  IOSTANDARD = LVDS;
NET "CTRLIPBUS_P_OUT<0>"  LOC=AW27;
NET "CTRLIPBUS_N_OUT<0>"  LOC=AY27;
NET "CTRLIPBUS_N_OUT<0>"  IOSTANDARD = LVDS;
#line 28
NET "CTRLIPBUS_P_OUT<1>"  IOSTANDARD = LVDS;
NET "CTRLIPBUS_P_OUT<1>"  LOC=AY28;
NET "CTRLIPBUS_N_OUT<1>"  LOC=BA28;
NET "CTRLIPBUS_N_OUT<1>"  IOSTANDARD = LVDS;
#line 40 
NET "CTRLIPBUS_P_OUT<2>"  IOSTANDARD = LVDS;
NET "CTRLIPBUS_P_OUT<2>"  LOC=AJ29;
NET "CTRLIPBUS_N_OUT<2>"  LOC=AK29;
NET "CTRLIPBUS_N_OUT<2>"  IOSTANDARD = LVDS;

#LVDS_PAIRS===============================================
#line 30
NET "CTRLBUS_P<2>" IOSTANDARD=LVDS;
NET "CTRLBUS_P<2>" LOC=AV27;
NET "CTRLBUS_N<2>" LOC=AV28;
NET "CTRLBUS_N<2>" IOSTANDARD=LVDS;
#line 33
NET "CTRLBUS_P<5>" IOSTANDARD=LVDS;
NET "CTRLBUS_P<5>" LOC=AT28;
NET "CTRLBUS_N<5>" LOC=AT29;
NET "CTRLBUS_N<5>" IOSTANDARD=LVDS;
#line 35
NET "CTRLBUS_P<6>" IOSTANDARD=LVDS;
NET "CTRLBUS_P<6>" LOC=AR28;
NET "CTRLBUS_N<6>" LOC=AR29;
NET "CTRLBUS_N<6>" IOSTANDARD=LVDS;
#line 36
NET "CTRLBUS_P<7>" IOSTANDARD=LVDS;
NET "CTRLBUS_P<7>" LOC=AN28;
NET "CTRLBUS_N<7>" LOC=AN29;
NET "CTRLBUS_N<7>" IOSTANDARD=LVDS;
##control line 39
NET "CTRLBUS_P_IN" IOSTANDARD=LVDS;
NET "CTRLBUS_P_IN" DIFF_TERM=FALSE;
NET "CTRLBUS_P_IN" LOC=AM27;
NET "CTRLBUS_N_IN" LOC=AM28;
NET "CTRLBUS_N_IN" IOSTANDARD=LVDS;
NET "CTRLBUS_N_IN" DIFF_TERM=FALSE;
#line 27
NET "CTRLBUS_P<0>" IOSTANDARD=LVDS;
NET "CTRLBUS_P<0>" LOC=AY31;
NET "CTRLBUS_N<0>" LOC=BA31;
NET "CTRLBUS_N<0>" IOSTANDARD=LVDS;
#line 29
NET "CTRLBUS_P<1>" IOSTANDARD=LVDS;
NET "CTRLBUS_P<1>" LOC=AW30;
NET "CTRLBUS_N<1>" LOC=AW31;
NET "CTRLBUS_N<1>" IOSTANDARD=LVDS;
#line 31
NET "CTRLBUS_P<3>" IOSTANDARD=LVDS;
NET "CTRLBUS_P<3>" LOC=AU30;
NET "CTRLBUS_N<3>" LOC=AV30;
NET "CTRLBUS_N<3>" IOSTANDARD=LVDS;
#line 32
NET "CTRLBUS_P<4>" IOSTANDARD=LVDS;
NET "CTRLBUS_P<4>" LOC=AU28;
NET "CTRLBUS_N<4>" LOC=AV29;
NET "CTRLBUS_N<4>" IOSTANDARD=LVDS;
##line 37  ROD CONTROL
NET "ROD_CONTROL_P_IN" IOSTANDARD=LVDS;
NET "ROD_CONTROL_P_IN" DIFF_TERM=TRUE;
NET "ROD_CONTROL_P_IN" LOC=AM30;
NET "ROD_CONTROL_N_IN" LOC=AN30;
NET "ROD_CONTROL_N_IN" IOSTANDARD=LVDS;
NET "ROD_CONTROL_N_IN" DIFF_TERM=TRUE;

NET "LED_OUT" LOC=A28;
NET "LED_OUT" IOSTANDARD=LVCMOS18;
