NET "GCK2_IN_N" LOC = J27;
NET "GCK2_IN_N" IOSTANDARD = LVDS;
NET "GCK2_IN_P" LOC = K27;
NET "GCK2_IN_P" IOSTANDARD = LVDS;

NET "GCK2_IN_P" TNM_NET = "global_clock";
TIMESPEC TS_global_clock = PERIOD "global_clock" 24.95 ns;

#U1#############################################################################################
# IPBUS LVDS PAIRS:
#line 1
NET "CTRLIPBUS_P_IN<0>"  IOSTANDARD = LVDS;
NET "CTRLIPBUS_P_IN<0>"  LOC=BB30;
NET "CTRLIPBUS_N_IN<0>"  LOC=BC30;
NET "CTRLIPBUS_N_IN<0>"  IOSTANDARD = LVDS;
#line 3
NET "CTRLIPBUS_P_IN<1>"  IOSTANDARD = LVDS;
NET "CTRLIPBUS_P_IN<1>"  LOC=BA29;
NET "CTRLIPBUS_N_IN<1>"  LOC=BA30;
NET "CTRLIPBUS_N_IN<1>"  IOSTANDARD = LVDS;
#line 4
NET "CTRLIPBUS_P_IN<2>"  IOSTANDARD = LVDS;
NET "CTRLIPBUS_P_IN<2>"  LOC=AW29;
NET "CTRLIPBUS_N_IN<2>"  LOC=AY29;
NET "CTRLIPBUS_N_IN<2>"  IOSTANDARD = LVDS;
#line 6
NET "CTRLIPBUS_P_IN<3>"  IOSTANDARD = LVDS;
NET "CTRLIPBUS_P_IN<3>"  LOC=AY31;
NET "CTRLIPBUS_N_IN<3>"  LOC=BA31;
NET "CTRLIPBUS_N_IN<3>"  IOSTANDARD = LVDS;
#line 8
NET "CTRLIPBUS_P_IN<4>"  IOSTANDARD = LVDS;
NET "CTRLIPBUS_P_IN<4>"  LOC=AW30;
NET "CTRLIPBUS_N_IN<4>"  LOC=AW31;
NET "CTRLIPBUS_N_IN<4>"  IOSTANDARD = LVDS;
#line 10
NET "CTRLIPBUS_P_OUT<0>"  IOSTANDARD = LVDS;
NET "CTRLIPBUS_P_OUT<0>"  LOC=AU30;
NET "CTRLIPBUS_N_OUT<0>"  LOC=AV30;
NET "CTRLIPBUS_N_OUT<0>"  IOSTANDARD = LVDS;
#line 11
NET "CTRLIPBUS_P_OUT<1>"  IOSTANDARD = LVDS;
NET "CTRLIPBUS_P_OUT<1>"  LOC=AU28;
NET "CTRLIPBUS_N_OUT<1>"  LOC=AV29;
NET "CTRLIPBUS_N_OUT<1>"  IOSTANDARD = LVDS;
#line 12 
NET "CTRLIPBUS_P_OUT<2>"  IOSTANDARD = LVDS;
NET "CTRLIPBUS_P_OUT<2>"  LOC=AT28;
NET "CTRLIPBUS_N_OUT<2>"  LOC=AT29;
NET "CTRLIPBUS_N_OUT<2>"  IOSTANDARD = LVDS;

#LVDS_PAIRS===============================================
#line 7
NET "CTRLBUS_P<0>" IOSTANDARD=LVDS;
NET "CTRLBUS_P<0>" LOC=AY28;
NET "CTRLBUS_N<0>" LOC=BA28;
NET "CTRLBUS_N<0>" IOSTANDARD=LVDS;
#line 9
NET "CTRLBUS_P<1>" IOSTANDARD=LVDS;
NET "CTRLBUS_P<1>" LOC=AV27;
NET "CTRLBUS_N<1>" LOC=AV28;
NET "CTRLBUS_N<1>" IOSTANDARD=LVDS;
#line 14
NET "CTRLBUS_P<2>" IOSTANDARD=LVDS;
NET "CTRLBUS_P<2>" LOC=AR28;
NET "CTRLBUS_N<2>" LOC=AR29;
NET "CTRLBUS_N<2>" IOSTANDARD=LVDS;
#line 15
NET "CTRLBUS_P<3>" IOSTANDARD=LVDS;
NET "CTRLBUS_P<3>" LOC=AN28;
NET "CTRLBUS_N<3>" LOC=AN29;
NET "CTRLBUS_N<3>" IOSTANDARD=LVDS;
##control line 2
NET "CTRLBUS_P_IN" IOSTANDARD=LVDS;
NET "CTRLBUS_P_IN" DIFF_TERM=FALSE;
NET "CTRLBUS_P_IN" LOC=BC28;
NET "CTRLBUS_N_IN" LOC=BC29;
NET "CTRLBUS_N_IN" IOSTANDARD=LVDS;
NET "CTRLBUS_N_IN" DIFF_TERM=FALSE;
#line 16
NET "CTRLBUS_P<4>" IOSTANDARD=LVDS;
NET "CTRLBUS_P<4>" LOC=AM30;
NET "CTRLBUS_N<4>" LOC=AN30;
NET "CTRLBUS_N<4>" IOSTANDARD=LVDS;
#line 17
NET "CTRLBUS_P<5>" IOSTANDARD=LVDS;
NET "CTRLBUS_P<5>" LOC=AK27;
NET "CTRLBUS_N<5>" LOC=AK28;
NET "CTRLBUS_N<5>" IOSTANDARD=LVDS;
#line 18
NET "CTRLBUS_P<6>" IOSTANDARD=LVDS;
NET "CTRLBUS_P<6>" LOC=AM27;
NET "CTRLBUS_N<6>" LOC=AM28;
NET "CTRLBUS_N<6>" IOSTANDARD=LVDS;
#line 20
NET "CTRLBUS_P<7>" IOSTANDARD=LVDS;
NET "CTRLBUS_P<7>" LOC=AL28;
NET "CTRLBUS_N<7>" LOC=AL29;
NET "CTRLBUS_N<7>" IOSTANDARD=LVDS;
##line 19  ROD CONTROL
NET "ROD_CONTROL_P_IN" IOSTANDARD=LVDS;
NET "ROD_CONTROL_P_IN" DIFF_TERM=TRUE;
NET "ROD_CONTROL_P_IN" LOC=AJ29;
NET "ROD_CONTROL_N_IN" LOC=AK29;
NET "ROD_CONTROL_N_IN" IOSTANDARD=LVDS;
NET "ROD_CONTROL_N_IN" DIFF_TERM=TRUE;

NET "LED_OUT" LOC=A28;
NET "LED_OUT" IOSTANDARD=LVCMOS18;
