INST "eth/phy/transceiver_inst/gtwizard_inst/gtwizard_v2_7_i/gt0_gtwizard_v2_7_i/gtxe2_i" LOC="GTXE2_CHANNEL_X0Y15";

INST "in_slinkPckBuilder/CompInst.hola_inst/tlk_wrapper_k7_1/hola_kin7_gtx_i/gt0_gtx_minipond_k7_i/gtxe2_i" LOC="GTXE2_CHANNEL_X0Y8";

NET "PHY_RESET_OUT_N" LOC = Y13;
NET "PHY_RESET_OUT_N" IOSTANDARD = LVCMOS15;

NET "LED_OUT[0]" LOC = AA12;
NET "LED_OUT[0]" IOSTANDARD = LVCMOS15;
NET "LED_OUT[1]" LOC = AB12;
NET "LED_OUT[1]" IOSTANDARD = LVCMOS15;
NET "LED_OUT[2]" LOC = AA8;
NET "LED_OUT[2]" IOSTANDARD = LVCMOS15;
NET "LED_OUT[3]" LOC = AB8;
NET "LED_OUT[3]" IOSTANDARD = LVCMOS15;
NET "LED_OUT[4]" LOC = AB9;
NET "LED_OUT[4]" IOSTANDARD = LVCMOS15;
NET "LED_OUT[5]" LOC = AC9;
NET "LED_OUT[5]" IOSTANDARD = LVCMOS15;
NET "LED_OUT[6]" LOC = Y11;
NET "LED_OUT[6]" IOSTANDARD = LVCMOS15;
NET "LED_OUT[7]" LOC = Y10;
NET "LED_OUT[7]" IOSTANDARD = LVCMOS15;
NET "LED_OUT[8]" LOC = AA11;
NET "LED_OUT[8]" IOSTANDARD = LVCMOS15;
NET "LED_OUT[9]" LOC = AA10;
NET "LED_OUT[9]" IOSTANDARD = LVCMOS15;
NET "LED_OUT[10]" LOC = AA13;
NET "LED_OUT[10]" IOSTANDARD = LVCMOS15;
NET "LED_OUT[11]" LOC = AB13;
NET "LED_OUT[11]" IOSTANDARD = LVCMOS15;
NET "LED_OUT[12]" LOC = AB10;
NET "LED_OUT[12]" IOSTANDARD = LVCMOS15;
NET "LED_OUT[13]" LOC = AC10;
NET "LED_OUT[13]" IOSTANDARD = LVCMOS15;
NET "LED_OUT[14]" LOC = AD8;
NET "LED_OUT[14]" IOSTANDARD = LVCMOS15;
NET "LED_OUT[15]" LOC = AE8;
NET "LED_OUT[15]" IOSTANDARD = LVCMOS15;

################################################################################

#ctrlbus1		bank32
NET "CTRLBUS_U1_OUT_P[0]" LOC = AA18;
NET "CTRLBUS_U1_OUT_P[0]" IOSTANDARD = LVDS;
NET "CTRLBUS_U1_OUT_P[0]" DIFF_TERM = "FALSE";
NET "CTRLBUS_U1_OUT_N[0]" LOC = AB18;
NET "CTRLBUS_U1_OUT_N[0]" IOSTANDARD = LVDS;
NET "CTRLBUS_U1_OUT_N[0]" DIFF_TERM = "FALSE";

#ctrlbus3		bank32
NET "CTRLBUS_U1_OUT_P[1]" LOC = Y19;
NET "CTRLBUS_U1_OUT_P[1]" IOSTANDARD = LVDS;
NET "CTRLBUS_U1_OUT_P[1]" DIFF_TERM = "FALSE";
NET "CTRLBUS_U1_OUT_N[1]" LOC = Y18;
NET "CTRLBUS_U1_OUT_N[1]" IOSTANDARD = LVDS;
NET "CTRLBUS_U1_OUT_N[1]" DIFF_TERM = "FALSE";

#ctrlbus4		bank32
NET "CTRLBUS_U1_OUT_P[2]" LOC = AD18;
NET "CTRLBUS_U1_OUT_P[2]" IOSTANDARD = LVDS;
NET "CTRLBUS_U1_OUT_P[2]" DIFF_TERM = "FALSE";
NET "CTRLBUS_U1_OUT_N[2]" LOC = AE18;
NET "CTRLBUS_U1_OUT_N[2]" IOSTANDARD = LVDS;
NET "CTRLBUS_U1_OUT_N[2]" DIFF_TERM = "FALSE";

#ctrlbus6		bank32
NET "CTRLBUS_U1_OUT_P[3]" LOC = AD19;
NET "CTRLBUS_U1_OUT_P[3]" IOSTANDARD = LVDS;
NET "CTRLBUS_U1_OUT_P[3]" DIFF_TERM = "FALSE";
NET "CTRLBUS_U1_OUT_N[3]" LOC = AE19;
NET "CTRLBUS_U1_OUT_N[3]" IOSTANDARD = LVDS;
NET "CTRLBUS_U1_OUT_N[3]" DIFF_TERM = "FALSE";

#ctrlbus8		bank32
NET "CTRLBUS_U1_OUT_P[4]" LOC = AD17;
NET "CTRLBUS_U1_OUT_P[4]" IOSTANDARD = LVDS;
NET "CTRLBUS_U1_OUT_P[4]" DIFF_TERM = "FALSE";
NET "CTRLBUS_U1_OUT_N[4]" LOC = AD16;
NET "CTRLBUS_U1_OUT_N[4]" IOSTANDARD = LVDS;
NET "CTRLBUS_U1_OUT_N[4]" DIFF_TERM = "FALSE";

#################################################################################

#ctrlbus10		bank32
NET "CTRLBUS_U1_IN_P[0]" LOC = AG19;
NET "CTRLBUS_U1_IN_P[0]" IOSTANDARD = LVDS;
NET "CTRLBUS_U1_IN_P[0]" DIFF_TERM = "TRUE";
NET "CTRLBUS_U1_IN_N[0]" LOC = AH19;
NET "CTRLBUS_U1_IN_N[0]" IOSTANDARD = LVDS;
NET "CTRLBUS_U1_IN_N[0]" DIFF_TERM = "TRUE";

#ctrlbus11		bank32
NET "CTRLBUS_U1_IN_P[1]" LOC = AF18;
NET "CTRLBUS_U1_IN_P[1]" IOSTANDARD = LVDS;
NET "CTRLBUS_U1_IN_P[1]" DIFF_TERM = "TRUE";
NET "CTRLBUS_U1_IN_N[1]" LOC = AG18;
NET "CTRLBUS_U1_IN_N[1]" IOSTANDARD = LVDS;
NET "CTRLBUS_U1_IN_N[1]" DIFF_TERM = "TRUE";

#ctrlbus12		bank32
NET "CTRLBUS_U1_IN_P[2]" LOC = AJ19;
NET "CTRLBUS_U1_IN_P[2]" IOSTANDARD = LVDS;
NET "CTRLBUS_U1_IN_P[2]" DIFF_TERM = "TRUE";
NET "CTRLBUS_U1_IN_N[2]" LOC = AK19;
NET "CTRLBUS_U1_IN_N[2]" IOSTANDARD = LVDS;
NET "CTRLBUS_U1_IN_N[2]" DIFF_TERM = "TRUE";

#################################################################################

#ctrlbus21		bank17
NET "CTRLBUS_U2_OUT_P[0]" LOC = F21;
NET "CTRLBUS_U2_OUT_P[0]" IOSTANDARD = LVDS_25;
NET "CTRLBUS_U2_OUT_P[0]" DIFF_TERM = "FALSE";
NET "CTRLBUS_U2_OUT_N[0]" LOC = E21;
NET "CTRLBUS_U2_OUT_N[0]" IOSTANDARD = LVDS_25;
NET "CTRLBUS_U2_OUT_N[0]" DIFF_TERM = "FALSE";

#ctrlbus22		bank17
NET "CTRLBUS_U2_OUT_P[1]" LOC = G22;
NET "CTRLBUS_U2_OUT_P[1]" IOSTANDARD = LVDS_25;
NET "CTRLBUS_U2_OUT_P[1]" DIFF_TERM = "FALSE";
NET "CTRLBUS_U2_OUT_N[1]" LOC = F22;
NET "CTRLBUS_U2_OUT_N[1]" IOSTANDARD = LVDS_25;
NET "CTRLBUS_U2_OUT_N[1]" DIFF_TERM = "FALSE";

#ctrlbus23		bank17
NET "CTRLBUS_U2_OUT_P[2]" LOC = F20;
NET "CTRLBUS_U2_OUT_P[2]" IOSTANDARD = LVDS_25;
NET "CTRLBUS_U2_OUT_P[2]" DIFF_TERM = "FALSE";
NET "CTRLBUS_U2_OUT_N[2]" LOC = E20;
NET "CTRLBUS_U2_OUT_N[2]" IOSTANDARD = LVDS_25;
NET "CTRLBUS_U2_OUT_N[2]" DIFF_TERM = "FALSE";

#ctrlbus24		bank17
NET "CTRLBUS_U2_OUT_P[3]" LOC = E19;
NET "CTRLBUS_U2_OUT_P[3]" IOSTANDARD = LVDS_25;
NET "CTRLBUS_U2_OUT_P[3]" DIFF_TERM = "FALSE";
NET "CTRLBUS_U2_OUT_N[3]" LOC = D19;
NET "CTRLBUS_U2_OUT_N[3]" IOSTANDARD = LVDS_25;
NET "CTRLBUS_U2_OUT_N[3]" DIFF_TERM = "FALSE";

#ctrlbus25		bank17
NET "CTRLBUS_U2_OUT_P[4]" LOC = D16;
NET "CTRLBUS_U2_OUT_P[4]" IOSTANDARD = LVDS_25;
NET "CTRLBUS_U2_OUT_P[4]" DIFF_TERM = "FALSE";
NET "CTRLBUS_U2_OUT_N[4]" LOC = C16;
NET "CTRLBUS_U2_OUT_N[4]" IOSTANDARD = LVDS_25;
NET "CTRLBUS_U2_OUT_N[4]" DIFF_TERM = "FALSE";
#
##################################################################################
#
#ctrlbus26		bank17
NET "CTRLBUS_U2_IN_P[0]" LOC = G17;
NET "CTRLBUS_U2_IN_P[0]" IOSTANDARD = LVDS_25;
NET "CTRLBUS_U2_IN_P[0]" DIFF_TERM = "TRUE";
NET "CTRLBUS_U2_IN_N[0]" LOC = F17;
NET "CTRLBUS_U2_IN_N[0]" IOSTANDARD = LVDS_25;
NET "CTRLBUS_U2_IN_N[0]" DIFF_TERM = "TRUE";

#ctrlbus40		bank17
NET "CTRLBUS_U2_IN_P[2]" LOC = H21;
NET "CTRLBUS_U2_IN_P[2]" IOSTANDARD = LVDS_25;
NET "CTRLBUS_U2_IN_P[2]" DIFF_TERM = "TRUE";
NET "CTRLBUS_U2_IN_N[2]" LOC = H22;
NET "CTRLBUS_U2_IN_N[2]" IOSTANDARD = LVDS_25;
NET "CTRLBUS_U2_IN_N[2]" DIFF_TERM = "TRUE";

#ctrlbus28		bank17
NET "CTRLBUS_U2_IN_P[1]" LOC = G18;
NET "CTRLBUS_U2_IN_P[1]" IOSTANDARD = LVDS_25;
NET "CTRLBUS_U2_IN_P[1]" DIFF_TERM = "TRUE";
NET "CTRLBUS_U2_IN_N[1]" LOC = F18;
NET "CTRLBUS_U2_IN_N[1]" IOSTANDARD = LVDS_25;
NET "CTRLBUS_U2_IN_N[1]" DIFF_TERM = "TRUE";

################################################################################

# DATA CONNECTIONS from bank 17

#9
NET "DATA_BANK17_IN_P[0]" LOC = L17;
NET "DATA_BANK17_IN_P[0]" IOSTANDARD = LVDS_25;
NET "DATA_BANK17_IN_P[0]" DIFF_TERM = "TRUE";
NET "DATA_BANK17_IN_N[0]" LOC = L18;
NET "DATA_BANK17_IN_N[0]" IOSTANDARD = LVDS_25;
NET "DATA_BANK17_IN_N[0]" DIFF_TERM = "TRUE";

#18
NET "DATA_BANK17_IN_P[1]" LOC = K19;
NET "DATA_BANK17_IN_P[1]" IOSTANDARD = LVDS_25;
NET "DATA_BANK17_IN_P[1]" DIFF_TERM = "TRUE";
NET "DATA_BANK17_IN_N[1]" LOC = K20;
NET "DATA_BANK17_IN_N[1]" IOSTANDARD = LVDS_25;
NET "DATA_BANK17_IN_N[1]" DIFF_TERM = "TRUE";

## DATA CONNECTIONS from bank 32

#14
NET "DATA_BANK32_IN_P[0]" LOC = AJ18;
NET "DATA_BANK32_IN_P[0]" IOSTANDARD = LVDS;
NET "DATA_BANK32_IN_P[0]" DIFF_TERM = "TRUE";
NET "DATA_BANK32_IN_N[0]" LOC = AK18;
NET "DATA_BANK32_IN_N[0]" IOSTANDARD = LVDS;
NET "DATA_BANK32_IN_N[0]" DIFF_TERM = "TRUE";

#15
NET "DATA_BANK32_IN_P[1]" LOC = AH16;
NET "DATA_BANK32_IN_P[1]" IOSTANDARD = LVDS;
NET "DATA_BANK32_IN_P[1]" DIFF_TERM = "TRUE";
NET "DATA_BANK32_IN_N[1]" LOC = AJ16;
NET "DATA_BANK32_IN_N[1]" IOSTANDARD = LVDS;
NET "DATA_BANK32_IN_N[1]" DIFF_TERM = "TRUE";

#16
NET "DATA_BANK32_IN_P[2]" LOC = AK16;
NET "DATA_BANK32_IN_P[2]" IOSTANDARD = LVDS;
NET "DATA_BANK32_IN_P[2]" DIFF_TERM = "TRUE";
NET "DATA_BANK32_IN_N[2]" LOC = AK15;
NET "DATA_BANK32_IN_N[2]" IOSTANDARD = LVDS;
NET "DATA_BANK32_IN_N[2]" DIFF_TERM = "TRUE";

#17
NET "DATA_BANK32_IN_P[3]" LOC = AF15;
NET "DATA_BANK32_IN_P[3]" IOSTANDARD = LVDS;
NET "DATA_BANK32_IN_P[3]" DIFF_TERM = "TRUE";
NET "DATA_BANK32_IN_N[3]" LOC = AG14;
NET "DATA_BANK32_IN_N[3]" IOSTANDARD = LVDS;
NET "DATA_BANK32_IN_N[3]" DIFF_TERM = "TRUE";

#20
NET "DATA_BANK32_IN_P[4]" LOC = AG15;
NET "DATA_BANK32_IN_P[4]" IOSTANDARD = LVDS;
NET "DATA_BANK32_IN_P[4]" DIFF_TERM = "TRUE";
NET "DATA_BANK32_IN_N[4]" LOC = AH15;
NET "DATA_BANK32_IN_N[4]" IOSTANDARD = LVDS;
NET "DATA_BANK32_IN_N[4]" DIFF_TERM = "TRUE";

# DATA CONNECTIONS from bank 18

#0
NET "DATA_BANK18_IN_P[0]" LOC = L12;
NET "DATA_BANK18_IN_P[0]" IOSTANDARD = LVDS_25;
NET "DATA_BANK18_IN_P[0]" DIFF_TERM = "TRUE";
NET "DATA_BANK18_IN_N[0]" LOC = L13;
NET "DATA_BANK18_IN_N[0]" IOSTANDARD = LVDS_25;
NET "DATA_BANK18_IN_N[0]" DIFF_TERM = "TRUE";

##2
#NET "DATA_BANK18_IN_P[1]" LOC = K14;
#NET "DATA_BANK18_IN_P[1]" IOSTANDARD = LVDS_25;
#NET "DATA_BANK18_IN_P[1]" DIFF_TERM = "TRUE";
#NET "DATA_BANK18_IN_N[1]" LOC = J14;
#NET "DATA_BANK18_IN_N[1]" IOSTANDARD = LVDS_25;
#NET "DATA_BANK18_IN_N[1]" DIFF_TERM = "TRUE";

#5
NET "DATA_BANK18_IN_P[2]" LOC = L16;
NET "DATA_BANK18_IN_P[2]" IOSTANDARD = LVDS_25;
NET "DATA_BANK18_IN_P[2]" DIFF_TERM = "TRUE";
NET "DATA_BANK18_IN_N[2]" LOC = K16;
NET "DATA_BANK18_IN_N[2]" IOSTANDARD = LVDS_25;
NET "DATA_BANK18_IN_N[2]" DIFF_TERM = "TRUE";

#7
NET "DATA_BANK18_IN_P[3]" LOC = L15;
NET "DATA_BANK18_IN_P[3]" IOSTANDARD = LVDS_25;
NET "DATA_BANK18_IN_P[3]" DIFF_TERM = "TRUE";
NET "DATA_BANK18_IN_N[3]" LOC = K15;
NET "DATA_BANK18_IN_N[3]" IOSTANDARD = LVDS_25;
NET "DATA_BANK18_IN_N[3]" DIFF_TERM = "TRUE";

#30
NET "DATA_BANK18_IN_P[4]" LOC = F15;
NET "DATA_BANK18_IN_P[4]" IOSTANDARD = LVDS_25;
NET "DATA_BANK18_IN_P[4]" DIFF_TERM = "TRUE";
NET "DATA_BANK18_IN_N[4]" LOC = E16;
NET "DATA_BANK18_IN_N[4]" IOSTANDARD = LVDS_25;
NET "DATA_BANK18_IN_N[4]" DIFF_TERM = "TRUE";

#33
NET "DATA_BANK18_IN_P[5]" LOC = E14;
NET "DATA_BANK18_IN_P[5]" IOSTANDARD = LVDS_25;
NET "DATA_BANK18_IN_P[5]" DIFF_TERM = "TRUE";
NET "DATA_BANK18_IN_N[5]" LOC = E15;
NET "DATA_BANK18_IN_N[5]" IOSTANDARD = LVDS_25;
NET "DATA_BANK18_IN_N[5]" DIFF_TERM = "TRUE";

#35
NET "DATA_BANK18_IN_P[6]" LOC = F12;
NET "DATA_BANK18_IN_P[6]" IOSTANDARD = LVDS_25;
NET "DATA_BANK18_IN_P[6]" DIFF_TERM = "TRUE";
NET "DATA_BANK18_IN_N[6]" LOC = E13;
NET "DATA_BANK18_IN_N[6]" IOSTANDARD = LVDS_25;
NET "DATA_BANK18_IN_N[6]" DIFF_TERM = "TRUE";

#36
NET "DATA_BANK18_IN_P[7]" LOC = D12;
NET "DATA_BANK18_IN_P[7]" IOSTANDARD = LVDS_25;
NET "DATA_BANK18_IN_P[7]" DIFF_TERM = "TRUE";
NET "DATA_BANK18_IN_N[7]" LOC = D13;
NET "DATA_BANK18_IN_N[7]" IOSTANDARD = LVDS_25;
NET "DATA_BANK18_IN_N[7]" DIFF_TERM = "TRUE";

##DATA CONNECTIONS from bank 16

#27
NET "DATA_BANK16_IN_P[0]" LOC = E23;
NET "DATA_BANK16_IN_P[0]" IOSTANDARD = LVDS_25;
NET "DATA_BANK16_IN_P[0]" DIFF_TERM = "TRUE";
NET "DATA_BANK16_IN_N[0]" LOC = D23;
NET "DATA_BANK16_IN_N[0]" IOSTANDARD = LVDS_25;
NET "DATA_BANK16_IN_N[0]" DIFF_TERM = "TRUE";

#29
NET "DATA_BANK16_IN_P[1]" LOC = E24;
NET "DATA_BANK16_IN_P[1]" IOSTANDARD = LVDS_25;
NET "DATA_BANK16_IN_P[1]" DIFF_TERM = "TRUE";
NET "DATA_BANK16_IN_N[1]" LOC = D24;
NET "DATA_BANK16_IN_N[1]" IOSTANDARD = LVDS_25;
NET "DATA_BANK16_IN_N[1]" DIFF_TERM = "TRUE";

#31
NET "DATA_BANK16_IN_P[2]" LOC = F25;
NET "DATA_BANK16_IN_P[2]" IOSTANDARD = LVDS_25;
NET "DATA_BANK16_IN_P[2]" DIFF_TERM = "TRUE";
NET "DATA_BANK16_IN_N[2]" LOC = E25;
NET "DATA_BANK16_IN_N[2]" IOSTANDARD = LVDS_25;
NET "DATA_BANK16_IN_N[2]" DIFF_TERM = "TRUE";

#32
NET "DATA_BANK16_IN_P[3]" LOC = F26;
NET "DATA_BANK16_IN_P[3]" IOSTANDARD = LVDS_25;
NET "DATA_BANK16_IN_P[3]" DIFF_TERM = "TRUE";
NET "DATA_BANK16_IN_N[3]" LOC = E26;
NET "DATA_BANK16_IN_N[3]" IOSTANDARD = LVDS_25;
NET "DATA_BANK16_IN_N[3]" DIFF_TERM = "TRUE";

##37  used for sync flag
#NET "DATA_BANK16_IN_P[4]" LOC = H26;
#NET "DATA_BANK16_IN_P[4]" IOSTANDARD = LVDS_25;
#NET "DATA_BANK16_IN_P[4]" DIFF_TERM = "TRUE";
#NET "DATA_BANK16_IN_N[4]" LOC = H27;
#NET "DATA_BANK16_IN_N[4]" IOSTANDARD = LVDS_25;
#NET "DATA_BANK16_IN_N[4]" DIFF_TERM = "TRUE";

#38
NET "DATA_BANK16_IN_P[5]" LOC = G23;
NET "DATA_BANK16_IN_P[5]" IOSTANDARD = LVDS_25;
NET "DATA_BANK16_IN_P[5]" DIFF_TERM = "TRUE";
NET "DATA_BANK16_IN_N[5]" LOC = G24;
NET "DATA_BANK16_IN_N[5]" IOSTANDARD = LVDS_25;
NET "DATA_BANK16_IN_N[5]" DIFF_TERM = "TRUE";

#41
NET "DATA_BANK16_IN_P[6]" LOC = H24;
NET "DATA_BANK16_IN_P[6]" IOSTANDARD = LVDS_25;
NET "DATA_BANK16_IN_P[6]" DIFF_TERM = "TRUE";
NET "DATA_BANK16_IN_N[6]" LOC = H25;
NET "DATA_BANK16_IN_N[6]" IOSTANDARD = LVDS_25;
NET "DATA_BANK16_IN_N[6]" DIFF_TERM = "TRUE";

# control line
#39
NET "DATA_U2_CTRL_OUT_P" LOC = F11;
NET "DATA_U2_CTRL_OUT_P" IOSTANDARD = LVDS_25;
#NET "DATA_U2_CTRL_OUT_P" DIFF_TERM = "TRUE";
NET "DATA_U2_CTRL_OUT_N" LOC = E11;
NET "DATA_U2_CTRL_OUT_N" IOSTANDARD = LVDS_25;
#NET "DATA_U2_CTRL_OUT_N" DIFF_TERM = "TRUE";

# control line
#37
NET "DATA_U2_SYNC_OUT_P" LOC = H26;
NET "DATA_U2_SYNC_OUT_P" IOSTANDARD = LVDS_25;
#NET "DATA_U2_SYNC_OUT_P" DIFF_TERM = "TRUE";
NET "DATA_U2_SYNC_OUT_N" LOC = H27;
NET "DATA_U2_SYNC_OUT_N" IOSTANDARD = LVDS_25;
#NET "DATA_U2_SYNC_OUT_N" DIFF_TERM = "TRUE";

INST "ddr_bank18/bridge_inst/int_clock_gen.clock_inst/mmcm_adv_inst" LOC = MMCME2_ADV_X0Y6;
INST "ddr_bank16/bridge_inst/int_clock_gen.clock_inst/mmcm_adv_inst" LOC = MMCME2_ADV_X0Y4;
INST "ctrlbus/ctrlbus_u2_mmcm" LOC = MMCME2_ADV_X0Y5;
INST "ctrlbus/ctrlbus_u1_mmcm" LOC = MMCME2_ADV_X1Y0;


# control line
#19
NET "DATA_U1_CTRL_OUT_P" LOC = AE16;
NET "DATA_U1_CTRL_OUT_P" IOSTANDARD = LVDS;
#NET "DATA_U1_CTRL_OUT_P" DIFF_TERM = "TRUE";
NET "DATA_U1_CTRL_OUT_N" LOC = AF16;
NET "DATA_U1_CTRL_OUT_N" IOSTANDARD = LVDS;
#NET "DATA_U1_CTRL_OUT_N" DIFF_TERM = "TRUE";

# control line
#2
NET "DATA_U1_SYNC_OUT_P" LOC = K14;
NET "DATA_U1_SYNC_OUT_P" IOSTANDARD = LVDS_25;
#NET "DATA_U2_SYNC_OUT_P" DIFF_TERM = "TRUE";
NET "DATA_U1_SYNC_OUT_N" LOC = J14;
NET "DATA_U1_SYNC_OUT_N" IOSTANDARD = LVDS_25;
#NET "DATA_U2_SYNC_OUT_N" DIFF_TERM = "TRUE";

# TTC to U2
#NET TTC_U2_OUT_P<4> LOC=G27 | IOSTANDARD=LVDS_25 | DIFF_TERM=TRUE; #34
#NET TTC_U2_OUT_N<4> LOC=F27 | IOSTANDARD=LVDS_25 | DIFF_TERM=TRUE;



INST "ddr_bank16*" AREA_GROUP="bank16_ddr_group";
INST "ddr_bank17*" AREA_GROUP="bank17_ddr_group";
INST "ddr_bank18*" AREA_GROUP="bank18_ddr_group";
INST "ddr_bank32*" AREA_GROUP="bank32_ddr_group";

AREA_GROUP "bank16_group" RANGE=SLICE_X0Y249:SLICE_X23Y200;
AREA_GROUP "bank17_group" RANGE=SLICE_X0Y299:SLICE_X18Y250;
AREA_GROUP "bank18_group" RANGE=SLICE_X0Y349:SLICE_X23Y300;
AREA_GROUP "bank32_group" RANGE=SLICE_X132Y49:SLICE_X153Y0;

